<h1>Help</h1>
<p>This is place holder for Help page.<p>
<p>This is place holder for Help page.<p>
n Ruby on Rails Tutorial at the
<a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
To get help on this sample app, see the
<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
